---
import {
  heroPortraitSizes,
  heroPortraitSrc,
  heroPortraitSrcSet,
} from "../data/heroImage";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <script is:inline>
    if ("scrollRestoration" in history) {
      history.scrollRestoration = "manual";
    }

    const navigationEntries =
      typeof performance.getEntriesByType === "function"
        ? performance.getEntriesByType("navigation")
        : [];
    const firstNavigationEntry = navigationEntries[0];
    const isReload =
      firstNavigationEntry && "type" in firstNavigationEntry
        ? firstNavigationEntry.type === "reload"
        : performance.navigation?.type === 1;

    if (isReload && !window.location.hash) {
      window.scrollTo(0, 0);
    }
  </script>
  <link rel="icon" type="image/svg+xml" href="/favicon_io/favicon.ico" />
  <link
    rel="preload"
    href="/fonts/Source_Sans_3/SourceSans3-VariableFont_wght.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/fonts/Poppins/Poppins-ExtraBold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    as="image"
    href={heroPortraitSrc}
    imagesrcset={heroPortraitSrcSet}
    imagesizes={heroPortraitSizes}
    fetchpriority="high"
  />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
